@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
}

#root{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.dark-root{
    background-color: #141414;
} 

.correct{
    color: #3AB049;
}

.incorrect{
    color: #FE0000;
}

.current-ligth{
    background: #B4B4B4;
}

.current-dark{
    background: #454545;
}